* {
  font-family: 'CircularStd-Book', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'CircularStd-Book', sans-serif;
}

h2,
h3 {
  font-family: 'CircularStd-Book', sans-serif;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

p {
  font-weight: normal;
  font-family: 'Akkurat-Light', cursive;
}

ul {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

.featured .images-holder, .description .images-holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  row-gap: 3rem;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.hero-items .learn, .presentation .presentation-content .presentation-text .learn {
  border: 0;
  background: white;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 4px;
  color: black;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hero-items .learn:hover, .presentation .presentation-content .presentation-text .learn:hover {
  color: black;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

.hero-content {
  position: relative;
  padding: 88px 0 0;
}

.hero-items {
  position: absolute;
  width: 100%;
  top: 100px;
  text-align: center;
  padding: 150px 0 100px;
}

.hero-items .eIntel {
  display: inline-block;
  width: 34px;
  margin-right: 5px;
}

.hero-items .hero-title {
  font-size: 56px;
  font-family: 'Kaushan Script', cursive;
  display: inline-block;
  margin: 0;
}

.hero-items .hero-tagline {
  font-size: 18px;
  max-width: 280px;
  margin: auto;
  padding: 15px 0;
}

.featured {
  padding: 50px 0;
}

.featured .featured-heading {
  margin: 50px 0;
}

.featured .featured-title {
  margin: 0;
}

.featured .featured-tagline {
  font-size: 18px;
}

.featured .trending {
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.featured .images-holder .image-container {
  width: 100%;
  border-radius: 3px;
}

.featured .images-holder .image-container .houses,
.featured .images-holder .image-container .houses-long {
  max-width: 100%;
  min-width: 100%;
  min-height: 250px;
  max-height: 251px;
  border-radius: 8px;
}

.featured .images-holder .image-container .houses-long {
  min-height: 400px;
  max-height: 401px;
}

.featured .images-holder .image-container .house-descriptions p {
  width: 90%;
}

.presentation {
  padding-top: 50px;
}

.presentation .presentation-content {
  position: relative;
}

.presentation .presentation-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left center;
     object-position: left center;
  border-radius: 8px;
}

.presentation .presentation-content .presentation-text {
  max-width: 400px !important;
  font-size: 28px !important;
  line-height: 35px !important;
  position: absolute;
  top: 0;
  margin: 50px 35px 0 35px;
}

.presentation .presentation-content .presentation-text .learn {
  margin-top: 230px;
  color: white;
  background: red;
}

.presentation .presentation-content .presentation-text .learn:hover {
  color: white;
}

.presentation .presentation-content ._1e8oe5u {
  font-family: 'Kaushan Script', cursive;
}

.description {
  padding: 38px 0 0 0;
}

.description img {
  width: 30px;
}

.description .describe h3 {
  margin-top: 10px;
}

.description .describe p {
  width: 90%;
}

.footer_content {
  background: #8e0101de;
  padding: 100px 0;
}

.nav_down {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  line-height: 2.5em;
}

.nav_down p {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
}

.nav_down a {
  color: white;
}

.nav_down a:hover {
  text-decoration: underline;
}

.social_container i {
  margin-right: 16px;
  font-size: 32px;
}

.owner {
  width: 100%;
  background: black;
}

.owner .creator {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 40px 0 40px 0;
  width: 70%;
  color: white;
  text-align: center;
}

.owner .creator .copy {
  margin-top: 20px;
}
/*# sourceMappingURL=index.css.map */